*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --accentCol: #f5f5f5;
    --shadowCol: #e0e0e0;
    --mainCol: #2082EF;
}
body{
    margin: 0px;
    padding: 0px;
	width: 300px;
    height: 400px;
    background-color: var(--accentCol);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainCol);
    padding: 0 10px;
}
.head-title-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
}
.head-title-section h1 {
    margin: 0;
    color: var(--accentCol);
    font-size: 1.5rem;
}
#easemylinkTitleId{
    cursor: pointer;
}
.head-title-section h3 {
    margin: 0;
    color: var(--accentCol);
    font-size: 1rem;
    cursor: pointer;
}
.head-body-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
}
.primaryBtn {
    background-color: var(--accentCol);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.body-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
.form-section label {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-section input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--shadowCol);
    border-radius: 5px;
    outline: none;
}
.form-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--shadowCol);
    border-radius: 5px;
    outline: none;
    resize: none;
}
.form-section button {
    width: inherit;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--mainCol);
    color: var(--accentCol);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.tags-suggestion {
    width: 17rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.tags-suggestion p {
    margin: 0;
    padding: 5px 10px;
    background-color: var(--shadowCol);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags-suggestion :first-child {
    background-color: var(--mainCol);
    color: var(--accentCol);
}
#messageAlert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--shadowCol);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 10px;
}
#errorMsg{
    color: red;
}
#successMsg{
    color: var(--mainCol);
}
#registerBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--mainCol);
    color: var(--accentCol);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}